<footer>
    <nav>
        <h6>Liens Utiles</h6>
        <ul>
            <li>lien</li>
            <li>lien</li>
            <li>lien</li>
            <li>lien</li>
            <li>lien</li>
            <li>lien</li>
        </ul>
    </nav>
</footer>
