<nav>
    <ul class="nav_links">
        <li><a href="{{ path("home") }}" title="Page d'accueil de l'Annuaire des Lyonnes">Accueil</a></li>
        <li><a href="{{ path("asso") }}" title="Informations sur Le Cocon Solidaire">Le Cocon Solidaire</a></li>
        <li>
            <a href="{{ path("emergency") }}">
                <button title="Numéros et contacts d'urgence">URGENCES</button>
            </a>
        </li>
    </ul>
</nav>
