{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu | L'annuaire des Lyonnes{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>

    <div>
        {{ form_start(placeType) }}
        {{ form_widget(placeType) }}
            <button type="submit">Ajouter</button>
        {{ form_end(placeType) }}
    </div>

{% endblock %}
