{% extends 'base.html.twig' %}

{% block title %}{{ category.handle | upper }} - L'annuaire des Lyonnes{% endblock %}

{% block body %}
    <a href="{{ path("home") }}">Retour à la liste</a>
    <h1>{{ category.handle }}</h1>
{% endblock %}
