{% extends 'base.html.twig' %}

{% block title %}{{ place.handleForName }} | L'annuaire des Lyonnes{% endblock %}

{% block body %}
    <a href="{{ path("home") }}">Retour à la liste</a>
    <h1>{{ place.handleForName }}</h1>
{% endblock %}
