{% extends 'base.html.twig' %}

{% block title %}L'annuaire des Lyonnes | Accueil{% endblock %}

{% block body %}

{% for category in categories %}
    <ul class="categorylist">
        <li class="categorylist_item">
            <div class="card categorycard">
                {# <img src="..." class="card-img-top" alt="..."> #}
                <div class="card-body">
                    {# <h5 class="card-title">{{ category.handle }}</h5> #}
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                    <a href="{{ path('places_category', {'categoryHandle':category.handle}) }}"
                       class="btn btn-primary">{{ category.handle }}</a>
                </div>
            </div>
        </li>
    </ul>
{% endfor %}

{% endblock %}
