<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L'annuaire des lyonnes{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    		<!-- ======= Header ======= -->

        
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Les lieux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('emergency') }}">Numeros d'urgence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('asso') }}">L'association</a>
                    </li>
                    </ul>
                </div>
            </div>
		</nav>


        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>{% block body %}{% endblock %}</main>

        		<!-- ======= Footer ======= -->
		<footer id="footer">

			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-6 footer-contact">
							<div style="display: flex; align-items: center;">
								<h3>Le cocon solidaire</h3>
							</div>
							<p>
                                www.lecoconsolidaire.fr

								<br><br>
								<strong>Telephone :</strong>
								+33 6 61 86 88 20<br>
							</p>
						</div>

						<div class="col-lg-2 col-md-6 footer-links">
							<h4>Ressources</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="{{ path('home') }}">Accueil</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">A propos de l'association</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Lieux</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Contact</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Nos engagement</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a>Efficacité</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a>Ecoute</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a>Respect de l'autre</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a>Clarté de l'information</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-4 col-md-6 footer-newsletter">
							<h4>Inscrivez-vous à notre newsletter</h4>
							<p>Ne manquez aucune de nos actualités !</p>
							<form action="" method="post">
								<input type="email" name="email"><input type="submit" value="Inscription">
							</form>
						</div>

					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
                integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
                crossorigin="anonymous"
        ></script>
    </body>
</html>
